.MMM-lyft {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	margin-top: 50px;
}

.MMM-lyft .badge {
	padding-right: 10px;
	margin-top: 10px;
}

.MMM-lyft .lyftButton span {
	font-family: 'Helvetica Neue';
	font-weight: 300;
	font-size: 16pt;
	font-color: #C0C0C8;
	/*padding: 10px;*/
	
}